services:
  - type: web
    name: absgram
    env: static
    buildCommand: ""
    staticPublishPath: .
    envVars:
      - key: NODE_VERSION
        value: 18.17.0
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
